.i-phone13pro-max51721-container {
  min-height: 100vh;
}
.i-phone13pro-max51721-i-phone13pro-max51721 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 75px;
  background-color: rgba(255, 220, 204, 1);
}
.i-phone13pro-max51721-svg {
  top: -55px;
  left: -43px;
  width: 269;
  height: 274;
  position: absolute;
}
.i-phone13pro-max51721-image {
  top: 287px;
  left: 21px;
  width: 390px;
  height: 445px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 249, 236, 1);
}
.i-phone13pro-max51721-text {
  top: 93px;
  left: 119px;
  color: rgba(93, 42, 66, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max51721-image1 {
  top: 65px;
  left: 32px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max51721-svg1 {
  top: 64px;
  left: 337px;
  width: 50;
  height: 50;
  position: absolute;
}
.i-phone13pro-max51721-image2 {
  top: 82px;
  left: 259px;
  width: 67px;
  height: 54px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max51721-svg2 {
  top: 183px;
  left: 22px;
  width: 80;
  height: 73;
  position: absolute;
}
.i-phone13pro-max51721-svg3 {
  top: 793px;
  left: 257px;
  width: 171;
  height: 164;
  position: absolute;
}
.i-phone13pro-max51721-svg4 {
  top: 783px;
  left: 244px;
  width: 64;
  height: 71;
  position: absolute;
}
.i-phone13pro-max51721-image3 {
  top: 286px;
  left: 22px;
  width: 393px;
  height: 411px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 78px;
}
.i-phone13pro-max51721-text01 {
  top: 244px;
  left: 117px;
  color: rgba(93, 42, 66, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max51721-text02 {
  top: 470px;
  left: 72px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max51721-text06 {
  top: 522px;
  left: 244px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max51721-text10 {
  top: 403px;
  left: 244px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max51721-text14 {
  top: 613px;
  left: 179px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max51721-text18 {
  top: 680px;
  left: 80px;
  color: rgba(93, 42, 66, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max51721-svg5 {
  top: 660px;
  left: 129px;
  width: 26;
  height: 0;
  position: absolute;
}
