.i-phone13pro-max31316-container {
  min-height: 100vh;
}
.i-phone13pro-max31316-i-phone13pro-max31316 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 75px;
  background-color: rgba(252, 176, 166, 1);
}
.i-phone13pro-max31316-svg {
  top: 683px;
  left: -79px;
  width: 323;
  height: 346;
  position: absolute;
}
.i-phone13pro-max31316-svg1 {
  top: 500px;
  left: 161px;
  width: 246;
  height: 262;
  position: absolute;
}
.i-phone13pro-max31316-svg2 {
  top: 789px;
  left: 175px;
  width: 121;
  height: 126;
  position: absolute;
}
.i-phone13pro-max31316-text {
  top: 137px;
  left: 123px;
  color: rgba(255, 255, 255, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max31316-image {
  top: 65px;
  left: 32px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max31316-svg3 {
  top: 64px;
  left: 337px;
  width: 60;
  height: 60;
  position: absolute;
}
.i-phone13pro-max31316-image1 {
  top: 132px;
  left: 272px;
  width: 67px;
  height: 54px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max31316-image2 {
  top: 230px;
  left: 42px;
  width: 344px;
  height: 339px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 102px;
  background-color: rgba(251, 99, 118, 1);
}
.i-phone13pro-max31316-image3 {
  top: 234px;
  left: 61px;
  width: 323px;
  height: 315px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max31316-image4 {
  top: 610px;
  left: 62px;
  width: 61px;
  height: 61px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max31316-image5 {
  top: 610px;
  left: 185px;
  width: 61px;
  height: 61px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max31316-image6 {
  top: 610px;
  left: 305px;
  width: 61px;
  height: 61px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max31316-text1 {
  top: 682px;
  left: 71px;
  color: rgba(93, 42, 66, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max31316-text2 {
  top: 682px;
  left: 185px;
  color: rgba(93, 42, 66, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max31316-text3 {
  top: 682px;
  left: 311px;
  color: rgba(93, 42, 66, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
