.i-phone13pro-max61922-container {
  min-height: 100vh;
}
.i-phone13pro-max61922-i-phone13pro-max61922 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 75px;
  background-color: rgba(255, 249, 236, 1);
}
.i-phone13pro-max61922-text {
  top: 93px;
  left: 119px;
  color: rgba(93, 42, 66, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max61922-text1 {
  top: 182px;
  left: 156px;
  color: rgba(93, 42, 66, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max61922-svg {
  top: 718px;
  left: -79px;
  width: 323;
  height: 346;
  position: absolute;
}
.i-phone13pro-max61922-svg1 {
  top: 852px;
  left: 200px;
  width: 87;
  height: 95;
  position: absolute;
}
.i-phone13pro-max61922-svg2 {
  top: 109px;
  left: -39px;
  width: 87;
  height: 95;
  position: absolute;
}
.i-phone13pro-max61922-svg3 {
  top: 176px;
  left: -16px;
  width: 139;
  height: 140;
  position: absolute;
}
.i-phone13pro-max61922-svg4 {
  top: 427px;
  left: 302px;
  width: 227;
  height: 232;
  position: absolute;
}
.i-phone13pro-max61922-image {
  top: 65px;
  left: 32px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max61922-svg5 {
  top: 64px;
  left: 337px;
  width: 50;
  height: 50;
  position: absolute;
}
.i-phone13pro-max61922-image01 {
  top: 82px;
  left: 259px;
  width: 67px;
  height: 54px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max61922-image02 {
  top: 246px;
  left: 14px;
  width: 399px;
  height: 181px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(251, 99, 118, 1);
}
.i-phone13pro-max61922-image03 {
  top: 634px;
  left: 14px;
  width: 399px;
  height: 181px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(251, 99, 118, 1);
}
.i-phone13pro-max61922-image04 {
  top: 647px;
  left: 32px;
  width: 159px;
  height: 142px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 176, 166, 1);
}
.i-phone13pro-max61922-image05 {
  top: 659px;
  left: 48px;
  width: 123px;
  height: 120px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 25px;
}
.i-phone13pro-max61922-image06 {
  top: 264px;
  left: 32px;
  width: 159px;
  height: 142px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 176, 166, 1);
}
.i-phone13pro-max61922-text2 {
  top: 262px;
  left: 201px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max61922-text3 {
  top: 303px;
  left: 201px;
  color: rgba(255, 255, 255, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max61922-image07 {
  top: 441px;
  left: 14px;
  width: 399px;
  height: 181px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 176, 166, 1);
}
.i-phone13pro-max61922-image08 {
  top: 463px;
  left: 24px;
  width: 159px;
  height: 142px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(251, 99, 118, 0.699999988079071);
}
.i-phone13pro-max61922-text4 {
  top: 465px;
  left: 192px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max61922-text5 {
  top: 659px;
  left: 199px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max61922-text6 {
  top: 499px;
  left: 192px;
  color: rgba(255, 255, 255, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max61922-text7 {
  top: 687px;
  left: 202px;
  color: rgba(255, 255, 255, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max61922-image09 {
  top: 474px;
  left: 48px;
  width: 123px;
  height: 131px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max61922-image10 {
  top: 284px;
  left: 54px;
  width: 117px;
  height: 93px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
