.i-phone13pro-max41538-container {
  min-height: 100vh;
}
.i-phone13pro-max41538-i-phone13pro-max41538 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 75px;
  background-color: rgba(255, 249, 236, 1);
}
.i-phone13pro-max41538-text {
  top: 137px;
  left: 123px;
  color: rgba(93, 42, 66, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max41538-text1 {
  top: 200px;
  left: 159px;
  color: rgba(93, 42, 66, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max41538-svg {
  top: 718px;
  left: -79px;
  width: 323;
  height: 346;
  position: absolute;
}
.i-phone13pro-max41538-svg1 {
  top: 176px;
  left: -16px;
  width: 139;
  height: 140;
  position: absolute;
}
.i-phone13pro-max41538-svg2 {
  top: 427px;
  left: 302px;
  width: 227;
  height: 232;
  position: absolute;
}
.i-phone13pro-max41538-image {
  top: 65px;
  left: 32px;
  width: 60px;
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max41538-svg3 {
  top: 64px;
  left: 337px;
  width: 60;
  height: 60;
  position: absolute;
}
.i-phone13pro-max41538-image1 {
  top: 132px;
  left: 272px;
  width: 67px;
  height: 54px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max41538-image2 {
  top: 246px;
  left: 14px;
  width: 399px;
  height: 244px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(251, 99, 118, 1);
}
.i-phone13pro-max41538-image3 {
  top: 264px;
  left: 32px;
  width: 159px;
  height: 142px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 176, 166, 1);
}
.i-phone13pro-max41538-image4 {
  top: 281px;
  left: 32px;
  width: 138px;
  height: 108px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max41538-text2 {
  top: 262px;
  left: 201px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max41538-text3 {
  top: 303px;
  left: 201px;
  color: rgba(255, 255, 255, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max41538-image5 {
  top: 551px;
  left: 14px;
  width: 399px;
  height: 244px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 176, 166, 1);
}
.i-phone13pro-max41538-image6 {
  top: 570px;
  left: 32px;
  width: 159px;
  height: 142px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(251, 99, 118, 0.699999988079071);
}
.i-phone13pro-max41538-text4 {
  top: 570px;
  left: 201px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max41538-image7 {
  top: 588px;
  left: 34px;
  width: 149px;
  height: 120px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max41538-text5 {
  top: 610px;
  left: 201px;
  color: rgba(255, 255, 255, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
