.i-phone13pro-max122-container {
  min-height: 100vh;
}
.i-phone13pro-max122-i-phone13pro-max122 {
  width: 428px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 75px;
  background-color: rgba(251, 99, 118, 1);
}
.i-phone13pro-max122-text {
  top: 95px;
  left: 126px;
  color: rgba(255, 255, 255, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max122-svg {
  top: 724px;
  left: -104px;
  width: 297;
  height: 299;
  position: absolute;
}
.i-phone13pro-max122-svg1 {
  top: 781px;
  left: 183px;
  width: 67;
  height: 60;
  position: absolute;
}
.i-phone13pro-max122-image {
  top: 200px;
  left: 38px;
  width: 359px;
  height: 564px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 220, 204, 1);
}
.i-phone13pro-max122-text1 {
  top: 372px;
  left: 70px;
  color: rgba(93, 42, 66, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max122-text2 {
  top: 610px;
  left: 87px;
  color: rgba(93, 42, 66, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max122-text3 {
  top: 616px;
  left: 245px;
  color: rgba(93, 42, 66, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max122-text4 {
  top: 372px;
  left: 250px;
  color: rgba(93, 42, 66, 1);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max122-group1938 {
  top: 675px;
  left: 79px;
  width: 274px;
  height: 49px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(93, 42, 66, 1) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(93, 42, 66, 1);
}
.i-phone13pro-max122-text5 {
  top: 7px;
  left: 26px;
  color: rgba(255, 255, 255, 1);
  width: 248px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.i-phone13pro-max122-svg2 {
  top: 841px;
  left: 142px;
  width: 122;
  height: 128;
  position: absolute;
}
.i-phone13pro-max122-svg3 {
  top: 244px;
  left: 61px;
  width: 122;
  height: 128;
  position: absolute;
}
.i-phone13pro-max122-svg4 {
  top: 244px;
  left: 245px;
  width: 122;
  height: 128;
  position: absolute;
}
.i-phone13pro-max122-svg5 {
  top: 482px;
  left: 61px;
  width: 122;
  height: 128;
  position: absolute;
}
.i-phone13pro-max122-svg6 {
  top: 483px;
  left: 244px;
  width: 122;
  height: 128;
  position: absolute;
}
.i-phone13pro-max122-image1 {
  top: 270px;
  left: 87px;
  width: 70px;
  height: 70px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max122-navlink {
  display: contents;
}
.i-phone13pro-max122-image2 {
  top: 270px;
  left: 271px;
  width: 70px;
  height: 70px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max122-image3 {
  top: 517px;
  left: 92px;
  width: 65px;
  height: 70px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max122-image4 {
  top: 517px;
  left: 265px;
  width: 80px;
  height: 75px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.i-phone13pro-max122-image5 {
  top: 88px;
  left: 286px;
  width: 67px;
  height: 54px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
